DistanciaCorpoCeleste/resources/DistanciaCorpoCeleste.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.apache.org/axis2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://ws.apache.org/axis2" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2">
            <xs:element name="getDistancia">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDistanciaResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="getDistanciaRequest">
    <wsdl:part name="parameters" element="ns:getDistancia">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDistanciaResponse">
    <wsdl:part name="parameters" element="ns:getDistanciaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DistanciaCorpoCelestePortType">
    <wsdl:operation name="getDistancia">
      <wsdl:input message="ns:getDistanciaRequest" wsaw:Action="urn:getDistancia">
    </wsdl:input>
      <wsdl:output message="ns:getDistanciaResponse" wsaw:Action="urn:getDistanciaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DistanciaCorpoCelesteSoap11Binding" type="ns:DistanciaCorpoCelestePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getDistancia">
      <soap:operation soapAction="urn:getDistancia" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DistanciaCorpoCelesteSoap12Binding" type="ns:DistanciaCorpoCelestePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getDistancia">
      <soap12:operation soapAction="urn:getDistancia" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DistanciaCorpoCelesteHttpBinding" type="ns:DistanciaCorpoCelestePortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="getDistancia">
      <http:operation location="getDistancia"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DistanciaCorpoCeleste">
    <wsdl:port name="DistanciaCorpoCelesteHttpSoap12Endpoint" binding="ns:DistanciaCorpoCelesteSoap12Binding">
      <soap12:address location="http://localhost:8080/axis2/services/DistanciaCorpoCeleste"/>
    </wsdl:port>
    <wsdl:port name="DistanciaCorpoCelesteHttpSoap11Endpoint" binding="ns:DistanciaCorpoCelesteSoap11Binding">
      <soap:address location="http://localhost:8080/axis2/services/DistanciaCorpoCeleste"/>
    </wsdl:port>
    <wsdl:port name="DistanciaCorpoCelesteHttpEndpoint" binding="ns:DistanciaCorpoCelesteHttpBinding">
      <http:address location="http://localhost:8080/axis2/services/DistanciaCorpoCeleste"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
