TempoViaxe.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://ws.apache.org/axis2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://ws.apache.org/axis2">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2">
            <xs:element name="getTempo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTempoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getTempoRequest">
        <wsdl:part name="parameters" element="ns:getTempo"/>
    </wsdl:message>
    <wsdl:message name="getTempoResponse">
        <wsdl:part name="parameters" element="ns:getTempoResponse"/>
    </wsdl:message>
    <wsdl:portType name="TempoViaxePortType">
        <wsdl:operation name="getTempo">
            <wsdl:input message="ns:getTempoRequest" wsaw:Action="urn:getTempo"/>
            <wsdl:output message="ns:getTempoResponse" wsaw:Action="urn:getTempoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TempoViaxeSoap11Binding" type="ns:TempoViaxePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getTempo">
            <soap:operation soapAction="urn:getTempo" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TempoViaxeSoap12Binding" type="ns:TempoViaxePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getTempo">
            <soap12:operation soapAction="urn:getTempo" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TempoViaxeHttpBinding" type="ns:TempoViaxePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getTempo">
            <http:operation location="getTempo"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TempoViaxe">
        <wsdl:port name="TempoViaxeHttpSoap11Endpoint" binding="ns:TempoViaxeSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/TempoViaxe"/>
        </wsdl:port>
        <wsdl:port name="TempoViaxeHttpSoap12Endpoint" binding="ns:TempoViaxeSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/TempoViaxe"/>
        </wsdl:port>
        <wsdl:port name="TempoViaxeHttpEndpoint" binding="ns:TempoViaxeHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/TempoViaxe"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
