Orquestrador/Orquestrador.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://ws.apache.org/axis2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://ws.apache.org/axis2">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.apache.org/axis2">
            <xs:element name="ViaxeAMonequiland">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ViaxeAMonequilandResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DistanciaAMonequiland">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DistanciaAMonequilandResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="DistanciaAMonequilandRequest">
        <wsdl:part name="parameters" element="ns:DistanciaAMonequiland"/>
    </wsdl:message>
    <wsdl:message name="DistanciaAMonequilandResponse">
        <wsdl:part name="parameters" element="ns:DistanciaAMonequilandResponse"/>
    </wsdl:message>
    <wsdl:message name="ViaxeAMonequilandRequest">
        <wsdl:part name="parameters" element="ns:ViaxeAMonequiland"/>
    </wsdl:message>
    <wsdl:message name="ViaxeAMonequilandResponse">
        <wsdl:part name="parameters" element="ns:ViaxeAMonequilandResponse"/>
    </wsdl:message>
    <wsdl:portType name="OrquestradorPortType">
        <wsdl:operation name="DistanciaAMonequiland">
            <wsdl:input message="ns:DistanciaAMonequilandRequest" wsaw:Action="urn:DistanciaAMonequiland"/>
            <wsdl:output message="ns:DistanciaAMonequilandResponse" wsaw:Action="urn:DistanciaAMonequilandResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ViaxeAMonequiland">
            <wsdl:input message="ns:ViaxeAMonequilandRequest" wsaw:Action="urn:ViaxeAMonequiland"/>
            <wsdl:output message="ns:ViaxeAMonequilandResponse" wsaw:Action="urn:ViaxeAMonequilandResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OrquestradorSoap11Binding" type="ns:OrquestradorPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="DistanciaAMonequiland">
            <soap:operation soapAction="urn:DistanciaAMonequiland" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ViaxeAMonequiland">
            <soap:operation soapAction="urn:ViaxeAMonequiland" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OrquestradorSoap12Binding" type="ns:OrquestradorPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="DistanciaAMonequiland">
            <soap12:operation soapAction="urn:DistanciaAMonequiland" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ViaxeAMonequiland">
            <soap12:operation soapAction="urn:ViaxeAMonequiland" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OrquestradorHttpBinding" type="ns:OrquestradorPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="DistanciaAMonequiland">
            <http:operation location="DistanciaAMonequiland"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ViaxeAMonequiland">
            <http:operation location="ViaxeAMonequiland"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Orquestrador">
        <wsdl:port name="OrquestradorHttpSoap11Endpoint" binding="ns:OrquestradorSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/Orquestrador"/>
        </wsdl:port>
        <wsdl:port name="OrquestradorHttpSoap12Endpoint" binding="ns:OrquestradorSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/Orquestrador"/>
        </wsdl:port>
        <wsdl:port name="OrquestradorHttpEndpoint" binding="ns:OrquestradorHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/Orquestrador"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
